.modal {
  position: fixed;
  width: 350px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #DAD9DB;
  border-radius: 10px;
  z-index: 500; }

.popup {
  height: 200px;
  top: 40%;
  text-align: center; }
  .popup p {
    font-size: 18px;
    font-weight: bold;
    padding: 20px; }
