.modal {
  position: fixed;
  width: 350px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #eae7ed;
  border-radius: 10px;
  z-index: 500; }

.popup {
  height: 160px;
  top: 40%;
  text-align: center; }
  .popup p {
    font-size: 18px;
    font-weight: bold;
    padding: 20px; }

.form-modal {
  height: fit-content;
  width: 300px; }

@media (min-width: 320px) and (max-width: 1024px) {
  .modal {
    top: 60%; } }
