.movie-card {
  width: 250px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 8px 15px;
  position: relative;
  background-position-x: center;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .movie-card:hover .movie-details {
    display: flex; }
  .movie-card .movie-details {
    background: #eae7ed;
    border-radius: 10px;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 16px;
    display: none; }
    .movie-card .movie-details .details-wrapper {
      display: flex;
      flex-direction: column;
      background: #876C91;
      box-shadow: rgba(255, 255, 255, 0.5) 0px 6px 15px;
      border-radius: inherit;
      padding: 0px 10px; }
      .movie-card .movie-details .details-wrapper span, .movie-card .movie-details .details-wrapper label {
        padding: 3px; }
      .movie-card .movie-details .details-wrapper label {
        font-size: 12px; }
  .movie-card .movie-card-buttons {
    align-self: center; }
