.movie-card {
    width: 250px;
    height: 400px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 8px 15px;
    position: relative;
    background-position-x: center;
    overflow: hidden;
    &:hover .movie-details {
        display: flex
    }
    .movie-details {
        // background: rgba(0, 0, 0, 0.8);
        // opacity: 0.8;
        border-radius: 10px;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px 20px;
        display: none;
        .details-wrapper {
            display: flex;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.7);
            box-shadow: rgba(255, 255, 255, 0.5) 0px 6px 15px;
            border-radius: inherit;
            padding: 0px 10px;
            span, label {
                padding: 3px
            }
            label {
                font-size: 12px;
            }
        }
    }
    .movie-card-buttons {
        align-self: center;
    }
}