@import '../../variables';
.app-header {
    top: 0;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    height: 120px;
    background: $lightBackground;
    position: fixed;
    width: 100%;
    z-index: 500;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}
.logo {
    height: 100px;
    padding: 15px;
    margin-left: 45px;
}