.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: #DAD9DB;
  position: fixed;
  width: 100%;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px; }

.logo {
  height: 90px;
  padding: 45px; }
