// $lightBackground: #f7f7f7;
// $darkBackground: lighten(#3b0944,70%);
// $hoverBackground: #5f1854;
// $buttonsBackground: #1abb9c;

// $lightBackground: #f9f9f9;
// $darkBackground: #bcbab8;
// $hoverBackground: #9d8f8f;
// $buttonsBackground: #625757;


// ! dark
// $lightBackground: #fff0f8;
// $darkBackground: #543e5c;
// $hoverBackground: #ffc2e9;
// $buttonsBackground: #cca2e1;

// $lightBackground: #deecfc;
// $darkBackground: #87a8d0;
// $hoverBackground: #c3b4d2;
// $buttonsBackground: #b9ceeb;

    // $lightBackground: #eeeeee;
    // $darkBackground: #560764;
    // $hoverBackground: #d8cbbb;
    // $buttonsBackground: #bb8fa9;

// $lightBackground: #efecec;
// $darkBackground: #5c5757;
// $hoverBackground: #363434;
// $buttonsBackground: #62929a;

// $lightBackground: #fffcea;
// $darkBackground: #3a0077;
// $hoverBackground: #a5f2e7;
// $buttonsBackground: #8983f3;

//need to find hover and buttons
$lightBackground: #eae7ed;
$darkBackground: #543e5c;
$hoverBackground: #876C91;
$buttonsBackground: #5F9EA0;
// 1abb9c
// 38486f
// $lightBackground: #f2f2f2;
// $darkBackground: #986ead;
// $hoverBackground: #d8cbbb;
// $buttonsBackground: #3f1263;

// $lightBackground: #d7c1e0;
// $darkBackground: #584f84;
// $hoverBackground: #876a96;
// $buttonsBackground: #38486f;

