// $lightBackground: #f7f7f7;
// $darkBackground: lighter(#3b0944,10%);
// $hoverBackground: #5f1854;
// $buttonsBackground: #1abb9c;

$lightBackground: #f9f9f9;
$darkBackground: #bcbab8;
$hoverBackground: #9d8f8f;
$buttonsBackground: #625757;

// $lightBackground: #f9f9f9;
// $darkBackground: #bcbab8;
// $hoverBackground: #9d8f8f;
// $buttonsBackground: #625757;

// $lightBackground: #f9f9f9;
// $darkBackground: #bcbab8;
// $hoverBackground: #9d8f8f;
// $buttonsBackground: #625757;

// $lightBackground: #f9f9f9;
// $darkBackground: #bcbab8;
// $hoverBackground: #9d8f8f;
// $buttonsBackground: #625757;

// $lightBackground: #efecec;
// $darkBackground: #5c5757;
// $hoverBackground: #363434;
// $buttonsBackground: #62929a;